<template>
    <section class="app-content">
        <div class="row">
            <div class="col-md-2">
                <div class="app-action-panel" id="inbox-action-panel">
                    <div class="action-panel-toggle" data-toggle="class" data-target="#inbox-action-panel"
                         data-class="open">
                        <i class="fa fa-chevron-right"></i>
                        <i class="fa fa-chevron-left"></i>
                    </div><!-- .app-action-panel -->

                    <div class="m-b-lg">
                        <a href="#" type="button" data-toggle="modal" data-target="#composeModal"
                           class="btn action-panel-btn btn-default btn-block">Compose</a>
                    </div>

                    <div class="app-actions-list scrollable-container">
                        <!-- mail category list -->
                        <div class="list-group">
                            mailboxes
                            <a class="text-color list-group-item" v-for="mailbox in mailboxes" @click="changeMailbox(mailbox.name)">
                                <i :class="'m-r-sm fa ' + getMailboxIcon(mailbox.name)"></i>
                                {{ mailbox.name }}
                            </a>
                        </div><!-- .list-group -->

                        <hr class="m-0 m-b-md" style="border-color: #ddd;">

                        <!-- mail label list -->
                        <div class="list-group">
                            <h4>Labels</h4>
                            <a href="#" class="list-group-item">
                                <i class="m-r-sm fa fa-circle text-warning"></i>
                                <span>Personal</span>
                                <div class="item-actions">
                                    <i class="item-action fa fa-edit" data-toggle="modal"
                                       data-target="#labelModal"></i>
                                    <i class="item-action fa fa-trash" data-toggle="modal"
                                       data-target="#deleteItemModal"></i>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="m-r-sm fa fa-circle text-primary"></i>
                                <span>Work</span>
                                <div class="item-actions">
                                    <i class="item-action fa fa-edit" data-toggle="modal"
                                       data-target="#labelModal"></i>
                                    <i class="item-action fa fa-trash" data-toggle="modal"
                                       data-target="#deleteItemModal"></i>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="m-r-sm fa fa-circle text-danger"></i>
                                <span>Business</span>
                                <div class="item-actions">
                                    <i class="item-action fa fa-edit" data-toggle="modal"
                                       data-target="#labelModal"></i>
                                    <i class="item-action fa fa-trash" data-toggle="modal"
                                       data-target="#deleteItemModal"></i>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="m-r-sm fa fa-circle text-success"></i>
                                <span>Clients</span>
                                <div class="item-actions">
                                    <i class="item-action fa fa-edit" data-toggle="modal"
                                       data-target="#labelModal"></i>
                                    <i class="item-action fa fa-trash" data-toggle="modal"
                                       data-target="#deleteItemModal"></i>
                                </div>
                            </a>
                            <a href="#" class="list-group-item text-color" data-toggle="modal"
                               data-target="#labelModal"><i class="fa fa-plus m-r-sm"></i> Add New Label</a>
                        </div><!-- .list-group -->

                        <hr class="m-0 m-b-md" style="border-color: #ddd;">

                        <div class="list-group">
                            <a href="#" class="text-color list-group-item"><i class="m-r-sm fa fa-gear"></i>settings</a>
                            <a href="#" class="text-color list-group-item"><i
                                    class="m-r-sm fa fa-exclamation-circle"></i>Need Help?</a>
                        </div>
                    </div><!-- .app-actions-list -->
                </div><!-- .app-action-panel -->
            </div><!-- END column -->

            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mail-toolbar m-b-lg">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Filter <span
                                        class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">time</a></li>
                                    <li><a href="#">importance</a></li>
                                </ul>
                            </div>

                            <div class="btn-group" role="group">
                                <a href="#" class="btn btn-default"><i class="fa fa-trash"></i></a>
                                <a href="#" class="btn btn-default"><i class="fa fa-exclamation-circle"></i></a>
                            </div>
                            <a href="#" class="btn btn-default"><i class="fa fa-refresh"></i></a>

                            <div class="btn-group pull-right" role="group">
                                <a class="btn btn-default" @click="previous()"><i class="fa fa-chevron-left"></i></a>
                                <a class="btn btn-default" @click="next()"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table mail-list">
                        <tr>
                            <td>
                                <!-- a single mail -->
                                <div class="mail-item" v-for="mail in mails">
                                    <table class="mail-container">
                                        <tr>
                                            <td class="mail-left">
                                                <div class="avatar avatar-lg avatar-circle">
                                                    <a href="#"><img src="/infinity/assets/images/208.jpg"
                                                                     alt="sender photo"></a>
                                                </div>
                                            </td>
                                            <td class="mail-center">
                                                <div class="mail-item-header">
                                                    <h4 class="mail-item-title">
                                                        <a href="mail-view.html" class="title-color">{{ mail.from.name }}</a>
                                                    </h4>
                                                    <a href="#"><span class="label label-success">client</span></a>
                                                    <a href="#"><span class="label label-primary">work</span></a>
                                                </div>
                                                <p class="mail-item-excerpt">{{ mail.subject }}</p>
                                            </td>
                                            <td class="mail-right">
                                                <p class="mail-item-date">{{ last(mail.udate) }}</p>
                                                <p class="mail-item-star starred">
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </div><!-- END mail-item -->
                            </td>
                        </tr>
                    </table>
                </div>
            </div><!-- END column -->
        </div>
    </section>
</template>

<script>
    import moment from "moment";

    export default {
        props: ['mailboxes'],
        data() {
            return {
                mailbox: "INBOX",
                page: 0,
                mails: []
            }
        },
        mounted(){
            this.getMessages();
        },
        methods: {
            last(time) {
                return moment.unix(time).fromNow();
            },
            next(){
                this.page += 1;
                this.getMessages();
            },
            previous(){
                this.page -= 1;
                if(this.page < 0){
                    this.page = 0;
                }
                this.getMessages();
            },
            changeMailbox(mailbox){
                this.page = 0;
                this.mailbox = mailbox;
                this.getMessages();
            },
            getMessages() {
                axios.get("/mailclient/messages/6/" + this.page + "/" + this.mailbox).then((response) => {
                    this.mails = response.data
                });
            },
            getMailboxIcon(mailbox){
                switch(mailbox){
                    case "INBOX":
                        return "fa-envelope";
                    case "Trash":
                        return "fa-trash";
                    case "Sent":
                        return "fa-paper-plane";
                    case "Drafts":
                        return "fa-exclamation-triangle";
                    default:
                        return "fa-inbox";
                }
            }
        },
        components: {}
    }
</script>
